.container {
  min-height: 55vh;
  width: 35vw;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1);
  transition: 0.3s;
}
.card-body {
  padding-top: 3rem;
}
.heading {
  top: 5rem;
}
  @media (max-width: 1024px) {
    .container {
      width: 60%;
      margin-top: 1rem;
    }
  }
  @media (max-width: 800px) {
    .container {
      width: 70%;
      margin-top: 1rem;
      padding-top: 1rem;
    }
    .heading {
      top: 4rem;
    }
  }
  @media (max-width: 500px) {
    .container {
      margin-top: 0;
      width: 95%;
    }
    .heading {
      top: 5rem;
    }
  }